<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.side.revicemore.repository.GalleryRepository">
    <select id="findAllGalleries" resultType="com.side.revicemore.domain.Gallery">
        select * from gallery
    </select>

    <insert id="insertGallery" useGeneratedKeys="true">
        insert into gallery (memberId, title, content, author) values (#{id}, #{title}, #{content}, (select memberAccount from members where memberId = #{id}));
    </insert>

    <select id="findById" parameterType="long" resultType="com.side.revicemore.domain.Gallery">
        select * from gallery where galleryId = #{id}
    </select>

    <update id="updateById">
        update gallery
        set title = #{title},
        content = #{content}
        where galleryId = #{id}
    </update>

    <delete id="deleteById">
        delete from gallery where galleryId = #{id}
    </delete>
</mapper>