<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.side.revicemore.repository.MemberRepository">
    <select id="selectMembers" resultType="com.side.revicemore.domain.Member">
        select * from members
    </select>

    <select id="findMemberById" parameterType="long" resultType="com.side.revicemore.domain.Member">
        select * from members where memberId = #{id}
    </select>

    <select id="findGalleryByMemberId" parameterType="long">
        select members.memberId, members.memberAccount, gallery.title, gallery.content, gallery.uploadDate
        from members
        inner join gallery on members.memberId = gallery.memberId
        where members.memberId = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true">
        insert into members (members.memberAccount, members.memberPassword) values(#{account}, #{password});
    </insert>
</mapper>