<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.side.revicemore.repository.MemberRepository">
    <select id="selectMembers" resultType="com.side.revicemore.domain.Member">
        select * from members
    </select>
    <select id="findMemberById" parameterType="long" resultType="com.side.revicemore.domain.Member">
        select * from members where member_id = ${id}
    </select>
</mapper>