body{font-family: 'Noto Sans KR', sans-serif;}
.header { position: relative; border-bottom: 2px solid #eee; height: 60px;}
.container {position: relative; max-width: 1200px; margin: 0 auto; height: 100%;}
.menu-btn {position: absolute; display: block; width: 24px; height: 24px; right: 2%; top: 50%; margin-top: -12px; z-index: 99;}
.menu-btn i {font-size: 24px; color: #b9b9b9;}

.gnb {position: fixed; top: 0; right: -100%; width: 45%; height: 100%; background-color: #333;z-index: 1; transition: all 0.5s;}
.gnb > ul {margin-top: 60px;}
.gnb > ul > li {}
.gnb > ul > li > a {display: block; padding: 10px; padding-left: 14px; font-size: 19px; color: #b9b9b9;}
.gnb-dep {border-bottom: 1px solid rgba(0, 0, 0, .15);}
.gnb-2dep {background-color: #151515; height: 0;  visibility: hidden; transition: all 0.3s; overflow: hidden;}
.gnb-2dep a {color: rgba(120,120,120, 1); padding: 10px 19px;  display: block;font-size: 15px;}

/* <i class="fas fa-times"></i> */