<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">
    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>계정명</th>
                <th>가입날짜</th>
                <th>상태</th>
<!--                <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.memberId}"></td>
                <td th:text="${member.memberAccount}"></td>
                <td th:text="${member.memberDate}"></td>
                <td th:text="${member.memberStatus}"></td>
<!--                <td>-->
<!--                    <a href="#" th:href="@{/items/{id}/edit (id=${item.id})}"-->
<!--                       class="btn btn-primary" role="button">수정</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>