  
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header">
    <div class="container">
        <button class="js-menu-btn menu-btn">
            <i class="fas fa-bars"></i>
        </button>
        <nav class="js-gnb gnb">
            <ul>
                <li class="gnb-dep">
                    <a class="js-gnb-dep" href="#">
                        menu1
                    </a>
                    <ul class="js-gnb-2dep gnb-2dep">
                        <li>
                            <a href="#">menu1-1</a>
                        </li>
                        <li>
                            <a href="#">menu1-2</a>
                        </li>
                        <li>
                            <a href="#">menu1-3</a>
                        </li>
                        <li>
                            <a href="#">menu1-14</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb-dep">
                    <a class="js-gnb-dep" href="#">
                        menu2
                    </a>
                    <ul class="js-gnb-2dep gnb-2dep">
                        <li>
                            <a href="#">menu2-1</a>
                        </li>
                        <li>
                            <a href="#">menu2-2</a>
                        </li>
                        <li>
                            <a href="#">menu2-3</a>
                        </li>
                        <li>
                            <a href="#">menu2-14</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb-dep">
                    <a class="js-gnb-dep" href="#">
                        menu3
                    </a>
                    <ul class="js-gnb-2dep gnb-2dep">
                        <li>
                            <a href="#">menu3-1</a>
                        </li>
                        <li>
                            <a href="#">menu3-2</a>
                        </li>
                        <li>
                            <a href="#">menu3-3</a>
                        </li>
                        <li>
                            <a href="#">menu3-14</a>
                        </li>
                    </ul>
                </li>
                <li class="gnb-dep">
                    <a class="js-gnb-dep" href="#">
                        menu4
                    </a>
                    <ul class="js-gnb-2dep gnb-2dep">
                        <li>
                            <a href="#">menu4-1</a>
                        </li>
                        <li>
                            <a href="#">menu4-2</a>
                        </li>
                        <li>
                            <a href="#">menu4-3</a>
                        </li>
                        <li>
                            <a href="#">menu4-14</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<script src="./asset/js/dropDown.js"></script>