<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/78a3c971bf.js" ,crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./asset/css/reset.css">
    <link rel="stylesheet" href="./asset/css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <button id="js-menu-btn" class="menu-btn">
                <i id="js-icon" class="fas fa-bars"></i>
            </button>
            <nav class="js-gnb gnb">
                <ul>
                    <li class="gnb-dep">
                        <a class="js-gnb-dep" href="#">
                            MEMBER
                        </a>
                        <ul class="js-gnb-2dep gnb-2dep">
                            <li>
                                <a href="#">Log In / Sign Up</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb-dep">
                        <a class="js-gnb-dep" href="#">
                            REVIEWMORE?
                        </a>
                        <ul class="js-gnb-2dep gnb-2dep">
                            <li>
                                <a href="#">Introduce</a>
                            </li>
                            <li>
                                <a href="#">Abount wanniStudio</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb-dep">
                        <a class="js-gnb-dep" href="#">
                            COMMUNITY
                        </a>
                        <ul class="js-gnb-2dep gnb-2dep">
                            <li>
                                <a href="#">GuestBook</a>
                            </li>
                            <li>
                                <a href="#">sideProjects</a>
                            </li>
                            <li>
                                <a href="#">ReviewMore</a>
                            </li>
                            <li>
                                <a href="#">Statistics</a>
                            </li>
                        </ul>
                    </li>
                    <li class="gnb-dep">
                        <a class="js-gnb-dep" href="#">
                            INQUIRY
                        </a>
                        <ul class="js-gnb-2dep gnb-2dep">
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <script src="./asset/js/dropDown.js"></script>
</body>
</html>